# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Data
data/processed

# MLflow
mlruns/
mlflow_data/
mlflow.db

# DVC local cache
.dvc/cache/
